*:focus
{
    outline: none;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.music-player {
    display: flex;
    justify-content: center;
}

.music-controls {
    position: ;
}

#background {
    width: 100%;
    height: auto;
    filter: blur(4px);
    position: fixed;
}

.cd {
    display: flex;
    justify-content: center;
}

#cd-image {
    width: 300px;
    height: auto;
    display: flex;
    position: relative;
    margin-top: 15vh;
    border-radius: 50%;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.7);
    border: solid white 5px;
}

.control-play {
    width: 620px;
    height:130px;
    background-color: #ebecf6;
    position: absolute;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.control {
    margin-top: 20vh;
    width: 720px;
    height:120px;
    background-color: #d2d5f3;
    display: flex;
    position: relative;
    border-radius: 30px;
    justify-content: center;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#name-song {
}

#name-singer {
}

.progress {
    width: 520px;
}